<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.framework.base">

    <application>
        <activity
            android:name=".simple.WorkLoadingFragmentActivity"
            android:exported="true" />
        <activity
            android:name=".simple.WorkLoadingActivity"
            android:exported="true" />
        <activity
            android:name=".simple.TextBannerActivity"
            android:exported="true" />
        <activity
            android:name=".simple.ScrollTextActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>